{% extends "layout.html" %}
{% block content %}
  {% for marker in markers %}
    <article class="media content-section">
      <div class="media-body">
        <H3 class="article-title">Название: {{ marker.name }}</H3>
        <div class="article-metadata">
          <span>Автор: </span><a class="mr-2" href="#">{{ marker.author }}</a>
          <small class="text-muted">{{ marker.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>
        <div class="row">
          <span class="article-content col" style="margin-top: 5px;"><b>Широта: </b>{{ marker.latitude }}</span>
          <span class="article-content col" style="margin-top: 5px; float: right;"><b>Долгота: </b>{{ marker.longtitude }}</span>
        </div>
        <hr>
        <p class="article-content" style="font-size: 20px;"><b>Описание: </b><br>{{ marker.content }}</p>
        <hr>
        <a type="button" class="col btn btn-primary" href="/comments/{{ marker.id }}" style="color: white">Открыть</a>
      </div>
    </article>
  {% endfor %}
{% endblock content %}

{% block sidebar %}
  <div class="col-md-4">
    <div class="content-section">
      <h3 style="text-align: center; padding-top: 10px;">Меню</h3><hr>
      <!-- <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Latest Posts</li>
          <li class="list-group-item list-group-item-light">Announcements</li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p> -->
      <a type="button" class="btn btn-success col" href="/map">Открыть карту</a>
      <hr>
      <a type="button" class="btn btn-primary col" href="/add">Добавить метку вручную</a>
    </div>
  </div>
{% endblock sidebar %}