<!DOCTYPE html>
<html>
<head>    
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />    
  <script>
      L_NO_TOUCH = false;
      L_DISABLE_3D = false;
  </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <title>Flask Map</title>
  <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
  <style>#map1 {position:relative;top:0;bottom:0;right:0;left:0;}</style>
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <style>
      #map1 {
          position: relative;
          width: 100.0%;
          height: 100.0%;
          left: 0.0%;
          top: 0.0%;
      }
      .leaflet-container { font-size: 1rem; }
      .font4 {font-size: 16px}
  </style>
        
</head>
<body>
  <header class="site-header font4">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/map" style="font-size: 20px">Flask Map</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">&nbsp;&nbsp;Список</a> 
            <a class="nav-item nav-link" href="/add">&nbsp;&nbsp;Добавить маркер</a>
            <a class="nav-item nav-link" href="/about">&nbsp;&nbsp;О карте</a>
          </div>
          <!-- Navbar Right Side -->
          <!-- <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          </div> -->
        </div>
      </div>
    </nav>
  </header>
  <!-- <div class="col-md-4">
    <div class="content-section">
      <h3>Our Sidebar</h3>
      <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Latest Posts</li>
          <li class="list-group-item list-group-item-light">Announcements</li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p>
    </div>
  </div> -->
  <div class="folium-map" id="map1"></div>        
</body>
<script>
  var map1 = L.map(
      "map1",
      {
          center: [55.7522200, 37.6155600],
          crs: L.CRS.EPSG3857,
          zoom: 11,
          zoomControl: true,
          preferCanvas: false,
      }
  );

  var TileLayer = L.tileLayer(
      "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
  ).addTo(map1); 
  
  {% block content %}
  {% for marker in markers %}
      {% set comment = dict.get(marker.id) %}
      var Ico{{ marker.id }} = L.AwesomeMarkers.icon({"extraClasses": "fa-rotate-0", "icon": "{{ marker.icon }}", "iconColor": "white", "markerColor": "{{ marker.color }}", "prefix": "glyphicon"});
      var marker{{ marker.id }} = L.marker(
          [{{ marker.latitude }}, {{ marker.longtitude }}],
          {}
      ).addTo(map1);
      marker{{ marker.id }}.setIcon(Ico{{ marker.id }});
      var popup{{ marker.id }} = L.popup({"maxWidth": "100%"});
      param = "id="+{{ marker.id }};
      var htmp_popup{{ marker.id }} = $(`<div id="htmp_popup1" style="width: 220px; height: 100.0%;">
        <h4>{{ marker.name }}</h4>
        <div>
            <span>Автор: </span><a class="mr-2" href="#">{{ marker.author }}</a>
            <small class="text-muted">{{ marker.date_posted.strftime('%d-%m-%Y') }}</small>
        </div><hr>
        <div class="row">
          <span class="col"><b>Широта:</b> {{ marker.latitude }}</span>
          <span class="col"><b>Долгота:</b> {{ marker.longtitude }}</span>          
        </div><br>
        <span><b>Описание:</b> {{ marker.content }}</span>
        <hr>
        {% if comment %}
          <h5>Самый популярный комментарий</h5>
          <div>
            <span>Автор: </span><a class="mr-2" href="#">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.date_posted.strftime('%d-%m-%Y') }}</small>
            <div style="float: right">
            <img src="/static/like.jpeg" height="13px" width="13px"></img>
            <span style="font-size: 10px;">&nbsp;&nbsp;{{comment.upvotes}}&nbsp;&nbsp;</span>
          </div>
          </div>
          <h5 class="article-content"; style="padding-top: 7px;">{{ comment.content }}</h5>
          <hr>
        {% endif %}
        <div class="row">
          <a type="button" class="btn btn-success col" target="_blank" href="https://yandex.ru/maps/?rtext=55.7549,37.7082~{{marker.latitude}},{{marker.longtitude}}&rtt=auto" style="color: white">Маршрут</a>&nbsp;
          <a type="button" class="btn btn-primary col" href="/comments/{{ marker.id }}" style="color: white">Комментарии</a>&nbsp;
          <a type="button" class="btn btn-danger col" href="/delete_mr/{{ marker.id }}" style="color: white">Удалить</a>
        </div>
        </div>`)[0];

        // https://yandex.ru/maps/10738/lubercy/?ll=37.910907%2C55.690172&mode=routes&rtext=55.755737%2C37.708106~55.689619%2C37.910477&rtt=auto&ruri=ymapsbm1%3A%2F%2Forg%3Foid%3D1081818069~&z=17.32
        
      popup{{ marker.id }}.setContent(htmp_popup{{ marker.id }});
      marker{{ marker.id }}.bindPopup(popup{{ marker.id }});
  {% endfor %}
  {% endblock content %}

  {% block script %}
    var POPUP = L.popup();
    function latLngPop(e) {
    data = e.latlng.lat.toFixed(4) + ", " + e.latlng.lng.toFixed(4);
    params = "lat="+e.latlng.lat.toFixed(4)+"&lng="+e.latlng.lng.toFixed(4);
      POPUP
        .setLatLng(e.latlng)
        .setContent("<span>"+data+"</span><br><a type='button' class='btn btn-primary' style='color: white' href=/add?"+params+">Добавить маркер</a><br>")
        .openOn(map1)
      }
    map1.on('click', latLngPop);
  {% endblock script %}

  // {% block markerpopup %}
  //   var new_mark = L.marker();
  //   function newMarker(e){
  //   new_mark.setLatLng(e.latlng).addTo(map1);
  //   new_mark.setZIndexOffset(-1);
  //   new_mark.on('dblclick', function(e){
  //     map1.removeLayer(e.target)})
  //     var lat = e.latlng.lat.toFixed(4),
  //     lng = e.latlng.lng.toFixed(4);
  //     new_mark.bindPopup(
  //     "<a href=https://www.google.com/maps?layer=c&cbll=" + lat + "," + lng + " target=blank><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Google_Street_View_icon.svg/256px-Google_Street_View_icon.svg.png' width=70 title=StreetView class=StreetViewImage></img></a>",{
  //     maxWidth: "auto",
  //     className: 'StreetViewPopup'
  //   });
  //   };
  //   map1.on('dblclick', newMarker); 
  // {% endblock markerpopup %}
  
</script>
</html>

